* {
  box-sizing: border-box;
}

:root {
  --primary-color: #15101c;
  --on-primary-color: #9e78cf;
  --secondary-color: #777777;
  --done-task-color: #78cfb0;
}
.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #0d0714;
  color: white;
}
.TodoForm {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.TodoForm input {
  width: 1000%;
  padding: 10px;
  font-size: 16px;
  color: var(--secondary-color);
  border: solid 1px var(--on-primary-color);
  border-radius: 10px;
  background-color: transparent;
  margin-right: 10px;
}

.TodoForm button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-primary-color);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  text-align: center;
  background-color: var(--on-primary-color);
  cursor: pointer;
  transition: all 0.3s;
}
.TodoForm button:hover {
  background-color: var(--primary-color);
  color: var(--on-primary-color);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 60%;
}

.TodoListWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  margin-top: 40px;
}

.TodoListWrapper p {
  align-self: flex-start;
}

.TodoList {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.TodoItem {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: 10px 20px;
  margin: 10px 0;
  border-radius: 10px;
  background-color: var(--primary-color);
}

.h-spacer {
  flex-grow: 1;
}

.TodoItem button {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--on-primary-color);
  border: none;
  border-radius: 10px;
  padding: 10px 10px;
  margin-left: 4px;
  text-align: center;
  background-color: transparent;
  cursor: pointer;
  transition: all 0.3s;
}

.TodoItem button:hover > img {
  filter: brightness(0) saturate(100%) invert(11%) sepia(52%) saturate(4916%)
    hue-rotate(261deg) brightness(85%) contrast(99%);
}

.doneTask {
  text-decoration: line-through;
  color: var(--done-task-color);
}

.lists-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.empty {
  color: var(--secondary-color);
}

@media screen and (max-width: 1024px) {
  .wrapper {
    width: 90%;
  }
}

@media screen and (min-width: 1400px) {
  .wrapper {
    width: 50%;
  }
}
